@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

*{
transition: all ease 0.9s;
padding: 0;
margin: 0;
color: #fff;
font-family: 'Oswald';
}

header{
    padding: 20px;
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

body{
    background-image: url(./Imagenes/body_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}



.Carta{
    padding: 2pc;
    width: 16pc; 
      
}


.imagen{
    opacity: .5;
    position: relative;
    width: 100%;
    background-color: #fff;
    height: 240px;
    color: #616161;
    font-size: 6pc;
    text-align: center;
}

 

.img{
    height: 13pc;
    width: 13pc;
    position: absolute;
    top: 40px;
    left: 16%;
}


.texto {
  padding: 0 1pc; 
  height: 6pc;
  background-color: #232323;
  font-size: 1.5pc;
}

.text {
    display: flex;
    justify-content: space-between;   
}

.color {
    display: flex;
    text-align: right;
    background-color: yellow;
}


.Carta:hover {
    background-color: #616161;
}

.Carta:hover .imagen{
    opacity: 1;
    font-size: 8pc;
}

.Carta:hover .img{
    top: -9px;
    left: 8%;
}

.centro{

    display: flex;  
    overflow-x: scroll;
    width: 100%;

}

